<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/Bootstrap5css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1><%= product.name %></h1>
    <img src="<%= product.image %>" class="img-fluid" alt="<%= product.name %>">
    <p>Giá: <%= product.price %></p>
    <p><%= product.description %></p>
    <a href="/products" class="btn btn-secondary">Quay lại danh sách</a>
  </div>
  <script src="/js/Bootstrap5js/bootstrap.bundle.min.js"></script>
</body>
</html>