<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/Bootstrap5css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1>Danh sách sản phẩm</h1>
    <div class="row">
      <% products.forEach(product => { %>
        <div class="col-md-4">
          <div class="card mb-4">
            <img src="<%= product.image %>" class="card-img-top" alt="<%= product.name %>">
            <div class="card-body">
              <h5 class="card-title"><%= product.name %></h5>
              <p class="card-text"><%= product.description %></p>
              <a href="/products/<%= product._id %>" class="btn btn-primary">Chi tiết</a>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
  <script src="/js/Bootstrap5js/bootstrap.bundle.min.js"></script>
</body>
</html>